.row-fluid
  .span4
  .span4
    .edito
      %p
        Connectez vous avec :
      .text-center
        %a{:href=>"/auth/facebook", :style => "padding: 5px"}= image_tag "facebook.png", :class=>"login_icon"
        ou 
        %a{:href=>"/auth/google_oauth2", :style => "padding: 5px"}= image_tag "google.png", :class=>"login_icon"
