.edito
  = simple_form_for @article, html: {class: 'form-inline'} do |f|
    = f.input :titre
    = f.input :url, :label => "Nom court"
    = f.input :corps, :input_html => { :data => {:provide => "markdown"}}
    %br
    = f.association :medium, :collection => Medium.where("id not in (select medium_id from articles where id != ? and medium_id not null)", @article.id), as: :radio_buttons, label_method: :vignette
    %br
    = f.button :submit
