%h1 Listing articles

%table.table
  %tr
    %th
    %th Titre
    %th Url
    %th Corps
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td
        - if article.medium
          = image_tag article.medium.file.url(:thumb)
      %td= article.titre
      %td= article.url
      %td= article.corps
      %td= link_to '<i class="icon-file"></i> Show'.html_safe, article, :class => "btn"
      %td= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_article_path(article), :class => "btn"
      %td= link_to '<i class="icon-trash"></i> Destroy'.html_safe, article, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn"

%br

= link_to 'New Article', new_article_path, :class => "btn btn-primary"
