#leftcolumn.span11
#rightcolumn.span1
  .rightcolumn
    - if @article.medium
      %script
        function init_bg() {
        $('body').css('background','url("#{@article.medium.file.url()}") no-repeat center center fixed');
        $('body').css('background-size','cover');
        }
    %h2
      = @article.titre
    = markdown(@article.corps)


  - if admin?
    = link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_article_path(@article), :class => "btn"
    = link_to '<i class="icon-th-list"></i>Back'.html_safe, articles_path, :class => "btn"
