.edito
  = simple_form_for @produit, html: {class: 'form-inline'} do |f|
    = f.input :ref, :label => "Référence"
    = f.input :description
    = f.input :status, :label => "Publié"
    = f.input :tri, :label => "Ordre"
    %h3 Photos
    = f.association :medium, :collection => Medium.where('id not in (select medium_id from colors where medium_id not null) and (produit_id is null or produit_id = ?) ',@produit.id), as: :check_boxes, label_method: :vignette, :label => "Photos"
    = f.association :colors, as: :check_boxes, label_method: :vignette, :label => "Couleurs"
    = f.association :promo, :collection => Medium.list_potential_promo(@produit.id), as: :radio_buttons, label_method: :vignette
    = f.association :category, :collection => Category.all
    = f.button :submit

