.span12.hidden-phone.text-center
  %div{ style:"margin-top:#{@marge}%"}
    - @produits.each_slice(@nb_produits) do |lot_produits|
      .liste_produits_pc
        %table.ligne_produits_pc
          %tr
            - lot_produits.each do |produit|
              %td.text-center= link_to image_tag(produit.photo_promo.file.url(:medium), :class => "produit_dans_la_liste"), produit
- @produits.each do |produit|
  .hidden-desktop.hidden-tablet.span2.text-center= link_to image_tag(produit.photo_promo.file.url(:medium), :class => "produit_mobile"), produit
