
%h1 Liste des produits

%table.table
  %tr
    %th
    %th Ref
    %th Description
    %th
    %th
    %th

  - @produits.each do |produit|
    %tr
      %td= produit.status
      %td= image_tag produit.premiere_photo.file.url(:thumb)
      %td= produit.ref
      %td= produit.description
      %td= link_to '<i class="icon-file"></i> Show'.html_safe, produit, :class => "btn"
      %td= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_produit_path(produit), :class => "btn"
      %td= link_to '<i class="icon-trash"></i> Destroy'.html_safe, produit, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn"

%br

= link_to 'Nouveau produit', new_produit_path, :class => "btn btn-primary"
