#leftcolumn.span11
#rightcolumn.span1
  .rightcolumn
    %script
      function init_bg() {
      $('body').css('background','url(#{@produit.premiere_photo.file.url()}) no-repeat center center fixed');
      $('body').css('background-size','cover');
      }

    %p.visible-phone
      #mobil-carousel-switch.visible-phone.text-center
        - num = 0
        - @produit.medium.each do |photo|
          %a.popup-link{href:photo.url(:medium)}
            %img{:src => "#{photo.url(:thumb)}", :class=>"photo", :id=>"p#{photo.id}"}

          - num = num +1
    %p
      %h3= @produit.ref
      = markdown(@produit.description)
    %p.hidden-phone
      #pc-carousel-switch.hidden-phone
        - num = 0
        - @produit.medium.each do |vignette|
          %img{:src => "#{vignette.url(:thumb)}", :class=>"photo", :id=>"p#{vignette.id}", :data =>{:target => "#fond", :slide => {:to => "#{num}"}}}
          - num = num +1

    %p
      %br
      Couleurs disponibles :
      %br
      - color_num = num
      .text-center
        #mobil-couleur-switch.visible-phone
          - @produit.colors.each do |color|
            %figure.vignette_couleur
              - if color.photo
                %a.popup-link{href:color.url(:medium)}
                  %img{:src => "#{color.url(:thumb)}", :class=>"couleur", :id=>"c#{color.id}"}
                - num = num +1
              - else
                %img{:src => "#{color.url(:thumb)}", :class=>"couleur", :id=>"c#{color.id}"}
              %figcaption  
                =color.name
      #pc-couleur-switch.hidden-phone
        - num = color_num
        - @produit.colors.each do |color|
          %figure.vignette_couleur
            - if color.photo
              %img{:src => "#{color.url(:thumb)}", :class=>"couleur", :id=>"c#{color.id}", :data =>{:target => "#fond", :slide => {:to => "#{num}"}}}
              - num = num +1
            - else
              %img{:src => "#{color.url(:thumb)}", :class=>"couleur", :id=>"c#{color.id}"}
            %figcaption  
              =color.name
    %p
      %a{href:"/page/entretien"} Conseils d'entretien

    .pull-right= social_share_button_tag(@produit.ref)

    #fond.carousel.hidden-phone.slide{:data => {:interval => "false"}}
      .carousel-inner
        - num = 0
        - @produit.toutes_les_photos.each do |photo|
          - num = num +1
          - if (num==1)
            .item.active
              =image_tag photo.file.url()
          - else 
            .item
              =image_tag photo.file.url()

  - if admin?
    = link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_produit_path(@produit), :class => "btn"
    = link_to '<i class="icon-th-list"></i>Back'.html_safe, produits_path, :class => "btn"
