html { 
  margin:0;
  padding:0;
  background: url(017_si.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  
  color: white;
  font-size: 12px;
  font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

#title {
  margin-top: 0px;
  padding-bottom: 9px;
  float: right;
  overflow: hidden;
}


#logo {
  position: absolute;  
  top: 0px;
  left: 0px;
  display: block;
  margin: 60px 0 0 30px;
  width: 180px;
  hight: 90px;
  box-shadow: 5px 5px 5px rgba(48,48,48,0.5)
}

#menu_haut {
  display: block;
}

#menu_haut ul {
  font-size:1.4em;
  text-transform:uppercase;
  font-weight:normal;
  letter-spacing:0.5px;
  text-align:center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding:40px 400px 0.25em 20px;
  border-bottom: 0px
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin-before: 0px;
  margin-after: 0px;
  margin-start: 0px;
  margin-end: 0px;
  padding-start: 0px;
  white-space:nowrap;
}
#menu_haut ul li:first {
  padding-left: 0;
}

#menu_haut ul li {
  display:inline;
  list-style-type:none;
  padding:0 4em 0 0;
}
#menu_haut ul a, #menu_haut ul a:link, #menu_haut ul a:visited {
  color:#fff;
  text-decoration:none;
  padding-bottom: 3px;
}
#menu_haut ul a:hover {
  color:#d43dd5;
  padding-bottom: 1px;
}

#actu {
  float: right;
  width: 25%;
  margin-top: 150px;
  margin-right: 5px;
  padding: 1em;
  color: #c0c0c0;
  background-color: rgba(48,48,48,0.4);
  text-align: right;
  text-transform:uppercase;
  font-size: 175%;
  white-space:nowrap;
}

#fullscreen_control {
  position: absolute;
  bottom: 1px;
  right: 1px;
}
