= simple_form_for(@user) do |f|
  = f.error_notification

  = image_tag @user.avatar
  .form-inputs
    = f.input :uid, disabled: true, hint: 'You cannot change your user_id.'
    = f.input :name
    = f.input :email
    = f.input :admin

  .form-actions
    = f.button :submit
