%h1 Listing users

%table.table
  %tr
    %th Avatar
    %th Provider
    %th Uid
    %th Name
    %th Email
    %th Admin
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= image_tag(user.avatar,class: "avatar")
      %td= user.provider
      %td= user.uid
      %td= user.name
      %td= user.email
      %td= user.admin
      %td= link_to '<i class="icon-file"></i> Show'.html_safe, user, :class => "btn"
      %td= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_user_path(user), :class => "btn"
      %td= link_to '<i class="icon-trash"></i> Destroy'.html_safe, user, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn"

%br

= link_to 'New User', new_user_path, :class => "btn btn-primary"
