%p#notice= notice

%p
  %b Provider:
  = @user.provider
%p
  %b Uid:
  = @user.uid
%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email

- if admin?
  = link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_user_path(@user), :class => "btn"
  = link_to '<i class="icon-th-list"></i>Back'.html_safe, users_path, :class => "btn"

