.edito
  = simple_form_for @color, html: {class: 'form-inline'} do |f|
    = f.input :name
    = f.association :medium, :collection => Medium.list_potential_color(@color.id), as: :radio_buttons, label_method: :vignette
    = f.association :photo, :collection => Medium.list_potential_color(@color.id), as: :radio_buttons, label_method: :vignette
    = f.button :submit
