%h1 Liste des couleurs

= link_to 'Nouvelle couleur', new_color_path, :class => "btn btn-primary"

%table.table
  %tr
    %th
    %th Nom
    %th
    %th
    %th

  - @colors.each do |color|
    %tr
      %td
        - if color.medium
          = image_tag color.medium.file.url(:thumb)
      %td= color.name
      %td= link_to '<i class="icon-file"></i> Show'.html_safe, color, :class => "btn"
      %td= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_color_path(color), :class => "btn"
      %td= link_to '<i class="icon-trash"></i> Destroy'.html_safe, color, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn"

%br

= link_to 'Nouvelle couleur', new_color_path, :class => "btn btn-primary"
