.span2
.span8
  .edito
    - if @color.photo
      %script
        function init_bg() {
        $('body').css('background','url("#{@color.photo.file.url()}") no-repeat center center fixed');
        $('body').css('background-size','cover');
        }

    %h2= @color.name
    - if @color.medium
      %br
      = image_tag @color.medium.file.url(:thumb)

  - if admin?
    = link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_color_path(@color), :class => "btn"
    = link_to '<i class="icon-th-list"></i>Back'.html_safe, colors_path, :class => "btn"

