= simple_form_for(@medium) do |f|
  = f.error_notification

  .form-inputs
    = f.input :tags, label: 'Liste de tags séparés par des virgules'
    = f.input :file, as: :image_preview, input_html: {preview_version: :thumb}
    = f.input :tri, label: "Numéro d'ordre"

  .form-actions
    = f.button :submit
