%h1 Listing media

= link_to 'New Medium', new_medium_path, :class => "btn btn-primary"

%table.table
  %tr
    %th Tags
    %th
    %th
    %th

  - @media.each do |medium|
    %tr
      %td= image_tag medium.file.url(:thumb)
      %td= medium.tags
      %td= link_to '<i class="icon-file"></i> Show'.html_safe, medium, :class => "btn"
      %td= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_medium_path(medium), :class => "btn"
      %td= link_to '<i class="icon-trash"></i> Destroy'.html_safe, medium, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn"

%br

= link_to 'New Medium', new_medium_path, :class => "btn btn-primary"
