%p
  %b Tags:
  = @medium.tags
%p
  = image_tag @medium.file.url(:medium)

- if admin?
  = link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_medium_path(@medium), :class => "btn"
  = link_to '<i class="icon-th-list"></i>Back'.html_safe, media_path, :class => "btn"
