/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-markdown
 *= require social-share-button
 *= require magnific-popup
 */
@import "bootstrap";
@import "bootstrap-responsive";

body {
  background: url(asset-path('017_si.jpg', image)) no-repeat center center fixed; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  font-family: 'Linux Biolinum';
  src: url(asset-path('LinBiolinum_RB.woff',image)) format('woff');
  src: url(asset-path('LinBiolinum_RB.ttf',image));
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}

@font-face {
  font-family: 'Linux Biolinum';
  src: url(asset-path('LinBiolinum_RB.ttf',image));
}

/* pour les listes */
.table {
  background-color: rgba(48,48,48,0.4);
  color: #c0c0c0;
}

/* formulaires */
textarea {
  width: 100%;
  height: 15em;
}

label {
  display:table-cell;
  padding: 1em;
}

/* menu */
.avatar {
  height: 40px;
  vertical-align: middle;
}

.login_icon {
  height: 30px;
}

/* block central édito */
.home_edito {
  padding: 2em;
  background-color: rgba(48,48,48,0.4);
  color: #c0c0c0;
  margin-bottom: 2em;
  overflow:auto;
  text-align: right;
  -webkit-box-shadow:  -1px -1px 2px rgba(48,48,48,0.4);
  -moz-box-shadow:  -1px -1px 2px rgba(48,48,48,0.4);
  box-shadow:  -1px -1px 2px rgba(48,48,48,0.4);
}

.rightcolumn {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-top: 1em;
  background-color: rgba(48,48,48,0.6);
  color: #c0c0c0;
  margin-bottom: 2em;
  overflow:auto;
  -webkit-box-shadow:  -1px -1px 2px rgba(48,48,48,0.4);
  -moz-box-shadow:  -1px -1px 2px rgba(48,48,48,0.4);
  box-shadow:  -1px -1px 2px rgba(48,48,48,0.4);
  font-size: 1.2em;
}

.edito {
  padding: 2em;
  background-color: rgba(48,48,48,0.4);
  color: #c0c0c0;
  margin-bottom: 2em;
  overflow:auto;
}

.container-fluid {
  padding:0px;
}

.row-fluid div {
  -webkit-transition: width 0.5s ease, margin 0.5s ease;
  -moz-transition: width 0.5s ease, margin 0.5s ease;
  -o-transition: width 0.5s ease, margin 0.5s ease;
  transition: width 0.5s ease, margin 0.5s ease;
}

.row-fluid .span0 {
  width: 0%;
}
 
.navbar {
  background-repeat: repeat-x;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.container {
  background-color: rgba(48,48,48,0.4);
  -webkit-box-shadow:  2px 2px 2px rgba(48,48,48,0.4);
  -moz-box-shadow:  2px 2px 2px rgba(48,48,48,0.4);
  box-shadow:  2px 2px 2px rgba(48,48,48,0.4);
}

.navbar-inner {
  background-image: none;
  background-color: transparent;
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px;
}

.navbar .nav > li > a {
  color: #e0e0e0;
  text-shadow: none;
  text-transform: uppercase;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #df6ddd;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: #df6ddd;
}

/* Sous menu mode PC */
.dropdown-menu {
  background-color:rgba(181,165,152,0.7);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #df6ddd;
  background: transparent;
}

.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
  border:none;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: #e0e0e0;
  border-top-color: #e0e0e0;
}

.navbar .nav li.dropdown > a:hover .caret, 
.navbar .nav li.dropdown > a:focus .caret {
  border-bottom-color: #df6ddd;
  border-top-color: #df6ddd;
}

.nav-collapse li > a,
.in .nav li > a {
  font-weight: normal;
  color: #e0e0e0;
}

.in .nav li > a {
  background: url(asset-path('filet.png', image)) no-repeat left top;
  color: #e0e0e0;
}

.brand {
  margin-left: 5px;
  margin-right: 30px;
}

form.form-inline div.string { display: inline-block; }
form.form-inline div.url { display: inline-block; }
form.form-inline div.string div.controls { display: inline-block; }
form.form-inline div.url div.controls { display: inline-block; }

#fond {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow:hidden;
}

a {
  color: #df6ddd;
}

a:hover {
  color:white;
  }

.divcenter {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

.dropdown-backdrop {
  position: static;
}

figcaption {
  font-size: 0.9em;
}
