/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

.fiche {
  background-color: rgba(48,48,48,0.4);
  color: #c0c0c0;
}

.liste_produits_pc {
  background-color: rgba(248,248,248,0.4);
  margin-bottom:1em;
}

.ligne_produits_pc {
  margin-left: auto;
  margin-right: auto;
}

.ligne_produits_pc tr {
  height: 304px;
}

.produit_dans_la_liste {
  /*
  -webkit-box-shadow:  1px 1px 2px rgba(48,48,48,0.9);
  -moz-box-shadow:  1px 1px 2px rgba(48,48,48,0.9);
  box-shadow:  1px 1px 2px rgba(48,48,48,0.9);
  */
  width:90%
}

.produit_en_avant {
  width: 100%;
}

.produit_mobile {
  margin-top: 1em;
}

.vignette_couleur {
  width: 100px;
  display: inline-block;       
  margin: 0px;
}

figcaption {
  text-align: center;
}
