.edito
  = simple_form_for(@category, html: {class: 'form-inline'}) do |f|
    .form-inputs
      = f.input :name
      = f.input :parent_id, :collection => category_as_array(Category.arrange), :label => "Catégorie parent"
      = f.association :medium, :collection => Medium.list_potential_category(@category.id), as: :radio_buttons, label_method: :vignette, :label => "Photo"

    .form-actions
      = f.button :submit
