.span12.hidden-phone.text-center
  %div{ style:"margin-top:#{@marge}%"}
    - @categories.each_slice(@nb_categories) do |lot_categories|
      .liste_produits_pc
        %table.ligne_produits_pc
          %tr
            - lot_categories.each do |category|
              %td.text-center
                = link_to image_tag(category.url(:medium), :class => "produit_dans_la_liste"), category
                = category.name
- @categories.each do |category|
  .hidden-desktop.hidden-tablet.span2.text-center
    = link_to image_tag(category.url(:medium), :class => "produit_mobile"), category
    = category.name
