.span2
.span8
  .edito
    %h2= @category.name
    - if @category.medium
      %br
      = image_tag @category.medium.file.url(:thumb)

  - if admin?
    = link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_category_path(@category), :class => "btn"
    = link_to '<i class="icon-th-list"></i>Back'.html_safe, categories_path, :class => "btn"

