.fb-like{"data-href"       => "http://www.facebook.com/pages/Histoires-dAlpaga/195475483822393",
         "data-send"       => "false",
         "data-width"      => "300",
         "data-show-faces" => "true"}
