!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Histoires d'alpaga"
    %meta{:content => "", :name => "description"}
    %meta{:content => "Thomas Clavier", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    %script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23572857-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .navbar
      .navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container-fluid
        .row-fluid
          = render 'layouts/messages'
        .row-fluid
          = yield
        %footer

